[user]
	email = marmand68@gmail.com
	name = Matt Armand
[core]
	editor = vim
[pull]
	rebase = true
[lfs]
	batch = false
[advice]
	detachedHead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
