*

!.gitconfig
!.vimrc
!.zshrc
!.zshenv

!.zshrc-machines/
!.zshrc-machines/*

!bin/
!bin/is-black-on

!.config/
!.config/tilix
!.config/tilix/*

!.config/vis
!.config/vis/config

!.config/flake8

!.config/autostart
!.config/autostart/com.gexperts.Tilix.desktop
