*

!.gitconfig
!.vimrc
!.zshrc
!.zshenv
!.flake8

!.zshrc-machines/
!.zshrc-machines/*

!bin/
!bin/is-black-on
!bin/system-update

!.config/
!.config/terminator
!.config/terminator/config

!.config/vis
!.config/vis/config

!.config/sway
!.config/sway/config*

!.config/i3status-rust
!.config/i3status-rust/config.toml

!.config/qt6ct
!.config/qt6ct/qt6ct.conf

!.config/qt5ct
!.config/qt5ct/qt5ct.conf

!.config/autostart
!.config/autostart/terminator.desktop
