*

!README.md
!.gitconfig
!.vimrc
!.zshrc
!.zshenv
!.bootstrap.sh

!.zshrc-machines/
!.zshrc-machines/*

!bin/
!bin/system-update

!.config/
!.config/terminator
!.config/terminator/config

!.config/flake8

!.config/vis
!.config/vis/config
!.config/vis/colors/
!.config/vis/colors/rainbow

!.config/sway
!.config/sway/config*

!.config/sway/scripts/
!.config/sway/scripts/*

!.config/i3status-rust
!.config/i3status-rust/config.toml

!.config/qt6ct
!.config/qt6ct/qt6ct.conf

!.config/qt5ct
!.config/qt5ct/qt5ct.conf

!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/firefoxdeveloperedition.desktop

!.vim/
!.vim/colors/
!.vim/colors/iceberg.vim
