[Desktop Entry]
Name=Tilix
Exec=tilix --maximize -s /home/matt/.config/tilix/code-workspace.json
Terminal=false
Type=Application
Icon=com.gexperts.Tilix
