[Desktop Entry]
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
Comment=Multiple terminals in one window
Exec=terminator -p default -l codeworkspace
Icon=terminator
Keywords=terminal;shell;prompt;command;commandline;
Name=Terminator
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=terminator
Type=Application
X-Ayatana-Desktop-Shortcuts=NewWindow;
X-KDE-SubstituteUID=false
X-Ubuntu-Gettext-Domain=terminator
