[Desktop Entry]
Type=Application
Name=Jellyfin TUI
GenericName=Music Player
Comment=Modern music streaming client for the terminal.
Exec=/usr/bin/kitty jellyfin-tui
Categories=Audio;AudioVideo;Player;ConsoleOnly;
Keywords=streaming;music;jellyfin;
